<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164500132254-topvkgm16tv5ndkh79fds92j3i2v4aih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164500132254-topvkgm16tv5ndkh79fds92j3i2v4aih</string>
	<key>API_KEY</key>
	<string>AIzaSyBtoHO4eF9l5-TKIm_ofLvAiTKf5JTEsqE</string>
	<key>GCM_SENDER_ID</key>
	<string>164500132254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sophia-Yang-and-Tiffany-Yang.body-positivity</string>
	<key>PROJECT_ID</key>
	<string>cmd-f-project-a4a94</string>
	<key>STORAGE_BUCKET</key>
	<string>cmd-f-project-a4a94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164500132254:ios:fa06a68285cf816de7868f</string>
</dict>
</plist>